@tailwind base;
@tailwind components;
@tailwind utilities;



.grid-main-menu {
    padding: 20px;
    display: grid;
    grid-template-columns: 20% 80%;
}

.grid-sub-menu {
    display: grid;
    grid-template-columns: repeat(6,150px);
    grid-template-rows: 85px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.text-main-menu {
    font-size: 1.10rem;
    line-height: 1.75rem; /* 28px */
    text-align: center;
}

.text-pages {
    @apply font-sans text-white
}
